@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
}


nav.navbar {
    height: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 5px 20px;

    position: fixed;
    width: calc(100% - 40px);
    background-color: #FFF;
}

nav.navbar .brand {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

nav.navbar .brand .logo path{
    fill: #E70023;
}

nav.navbar .brand .logo-name {
    color: #E70023;
    font-weight: 500;
    font-size: 20px;
}

nav.navbar .nav-controls {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

nav.navbar .nav-controls .nav-links {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

nav.navbar .nav-controls .nav-links .nav-link {
     color: #333;
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
}

nav.navbar .nav-controls .nav-links .nav-link:hover {
    text-decoration: underline;
}

nav.navbar .nav-controls .nav-buttons{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

nav.navbar .nav-controls .nav-buttons .nav-button {
    background-color: #EFEFEF;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: capitalize;
}

nav.navbar .nav-controls .nav-buttons .nav-button.login {
    background-color: #E70023;
    color: #FFF;
}

section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 72px;
    font-weight: 700;
}

section.hero {
    background-color: #FFF;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

section.hero .hero-title {
    padding-top: 160px;
    font-size: 60px;
    font-weight: 500;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    position: relative;
}

section.hero .hero-title .main {
    color: #333;
}

section.hero .hero-title .subtitle {
    color: #C28C00;
}

section.hero .carousel {
    display: none;
}

section.hero .carousel-dots {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 20px auto;
}

section.hero .carousel-dots .dot{
    background: #aaa;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin: 6px;
    outline: none;
    border-style: none;
}

section.hero .carousel-slides {
    width: 100%;
    margin-top: -160px;
}

section.hero .carousel-slides .carousel-slide {
    width: 100%;
}

section.hero .carousel-slides .carousel-slide .columns{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

section.hero .carousel-slides .carousel-slide .column{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carousel-slide .column:nth-child(1) {
    margin-top: 0px;
}

.carousel-slide .column:nth-child(2) {
    margin-top: 160px;
}

.carousel-slide .column:nth-child(3) {
    margin-top: 240px;
}

.carousel-slide .column:nth-child(4) {
    margin-top: 320px;
}

.carousel-slide .column:nth-child(5) {
    margin-top: 240px;
}

.carousel-slide .column:nth-child(6) {
    margin-top: 160px;
}

.carousel-slide .column:nth-child(7) {
    margin-top: 0px;
}

.carousel-slide img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    aspect-ratio: 9/16;
    object-fit: cover;
}

section.hero .hero-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFE92;

    font-size: 18px;
    font-weight: 500;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.hero .hero-footer::after {
    content: '';
    position: absolute;
    top: -200px;
    left: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, #FFF, #0000);
}


section.search-ideas {
    background-color: #FFFE92;
}

section.save-ideas {
    background-color: #DAFFF7;
}

section.try {
    background-color: #FFE2EB;
}
